<!DOCTYPE html>
<html lang="en">
<head>
    <title>Internship portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>

.main{
background-color:white;
position:absolute;
right:450px;
top:10px;
  width:40%;
  height:90%;
  }
   img{
   width:1000px;
   height:740px;
   }
   .button{
   
position:absolute;
left:260px;
top:850px;
  width:70%;
  height:90%;
  }
</style>
</head>
<body>

</head>
<body>
    <div class="main">
<div class="inner">
<form action="abc.html" method="post">
<h1 style="text-align: center">COMPANY DETAILS!</h1>
<hr>
    <div class="form-holder active"><p><h3>Incharge Name:<input type="text" class="form-control" id="fname" name="fname" required></div>
	<div class="form-holder active"><p><h3>Designation:<input type="text" class="form-control" id="fname" name="fname" required></div>
	<div class="form-holder active"><p><h3>Contact Number:<input type="text" class="form-control" id="fname" name="fname" required></div>
	<div class="form-holder active"><p><h3>Brief on company:<input type="text" class="form-control" id="fname" name="fname" required></div>
	<h5>Please fill the website link while fillinf the brief</h5>
	<div class="form-holder active"><p><h3>Internship profile
:<input type="text" class="form-control" id="fname" name="fname" required></div>
	<div class="form-holder active"><p><h3>Duration:<input type="text" class="form-control" id="fname" name="fname" required></div><br>
	<div class="form-holder" required><h3>Will the Stipend be provided?:<input type="radio" style="margin-left:10px;" id="yes" name="yes" value="yes">
  <label for="yes">Yes</label>
  <input type="radio" id="No" name="No" value="No">
  <label for="No">No</label>
  </div>
  <div class="form-holder"><p><h3>Last date to register:<input type="text" class="form-control" id="fname" name="fname" required></div>
</p></div>
<div class="button">
<p><h3 style="text-align="center"><input type="submit" class="btn btn-info" value="Submit"></h3></p><br><br>
</form>
</div>
</div>
</body>
</html>
